<section class="w-full py-10">
  <div class="max-w-7xl mx-auto">
    <div class="text-3xl font-bold">Товары со скидкой</div>
    <div class="flex items-center justify-between mt-6">
      <div>
        <span class="mdi mdi-chevron-left text-5xl text-gray-500 leading-6"></span>
      </div>
      <div class="grid grid-cols-4 gap-4">
        <div *ngFor="let item of items">
          <div class="relative">
            <div
              class="rounded-full absolute w-14 h-14 top-4 font-bold left-4 bg-secondary text-gray-900 flex items-center justify-center"
            >
              <span>-</span>
              <span>
                {{ item.sale }}
              </span>
              <span>%</span>
            </div>
            <img src="assets/images/new-items.png" alt="" />
          </div>
          <div class="mt-4 font-bold">
            {{ item.title }}
          </div>
          <div class="font-bold">
            <span class="text-red-500">
              <span>{{ item.price }}</span>
              <span>Lei</span>
            </span>
            <span class="text-gray-500 ml-1 line-through">
              <span>
                {{ item.price + (item.price * item.sale) / 100 }}
              </span>
              <span>Lei</span>
            </span>
          </div>
        </div>
      </div>
      <div>
        <span class="mdi mdi-chevron-right text-5xl text-gray-500 leading-6"></span>
      </div>
    </div>
    <div class="w-full text-center my-5">
      <button
        class="bg-primary text-white rounded-full p-4 px-12 font-bold text-sm"
        routerLink="/product-list"
      >
        Все товары
      </button>
    </div>
  </div>
</section>
