<card>
  <card-title>Create</card-title>
  <card-subtitle> some text for subtitle </card-subtitle>
  <card-text>
    <form (click)="$event.preventDefault()" [formGroup]="model">
      <form-input label="Name" [control]="model.controls.name"></form-input>
      <form-input
        label="Email"
        [control]="model.controls.email"
        inputType="email"
      ></form-input>
      <form-input
        tag="select"
        label="Role"
        [control]="model.controls.role_id"
        [errors]="errorMessages.role_id"
        [items]="roles"
      ></form-input>
    </form>
  </card-text>
  <card-actions>
    <spacer></spacer>
    <btn outline (click)="toList()">Cancel</btn>
    <btn primary (click)="submit()" class="ml-2">confirm</btn>
  </card-actions>
</card>
