<div class="flex items-center">
  <div class="flex flex-col md:flex-row w-full sm:justify-end">
    <div class="font-bold flex items-center justify-between">
      <span class="text-gray-500"> Сортировать по: </span>
      <div class="flex items-center">
        <span class="text-gray-800 ml-1">Самые популярные</span>
        <span class="mdi mdi-chevron-down text-2xl font-bold"></span>
      </div>
      </div>
    <div class="md:ml-20 font-bold flex items-center justify-between">
      <span class="text-gray-500"> Стиль: </span>
      <div class="flex items-center">
        <span class="text-gray-800 ml-2">Классический</span>
        <span class="mdi mdi-chevron-down text-2xl font-bold"></span>
      </div>
      </div>
  </div>
</div>
