<section>
  <div class="max-w-7xl w-full mx-auto py-20">
    <div class="text-3xl font-bold">Каталог продукции</div>
    <div class="grid grid-cols-5 mt-10 gap-4">
      <div
        *ngFor="let item of items"
        class="hover:shadow-md hover:scale-105 hover:shadow-primary/40 cursor-pointer flex items-center flex-col"
      >
        <div class="w-full h-[13rem] bg-gray-600 relative">
          <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <img *ngIf="item.url" [src]="item.url" alt="" />
          </div>
        </div>
        <div class="font-bold mt-4 pb-3 text-center">{{ item.title }}</div>
      </div>
    </div>
  </div>
</section>
