.roles {
  .headers {
    &--item {
      padding: 0.5rem;
      border: 1px solid lightgray;
    }
  }
  table,
  tr,
  td {
    border-collapse: collapse;
  }

  .list {
    width: 100%;
    text-align: center;
    border-radius: 0.25rem;

    &--item {
      td {
        padding: 0.5rem;
        border: 1px solid lightgray;
      }

      &:hover {
        background-color: rgba(#000, 0.1);
      }
    }
  }

  .card {
    padding: 2.5rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .actions {
    width: 5rem;
  }
}
