<card>
  <card-title>Create</card-title>
  <card-subtitle> some text for subtitle </card-subtitle>
  <card-text>
    <form
      (click)="$event.preventDefault()"
      [formGroup]="model"
      autocomplete="off"
      autocapitalize="off"
    >
      <form-input
        [control]="model.controls.name"
        [errors]="errorMessages.name"
      ></form-input>
      <form-input
        [control]="model.controls.alias"
        [errors]="errorMessages.alias"
      ></form-input>
    </form>
  </card-text>
  <card-actions>
    <btn (click)="toList()" class="btn btn-outline">Cancel</btn>
    <btn primary (click)="submit()" class="mx-2">confirm</btn>
  </card-actions>
</card>
