<div class="w-full min-h-32 bg-primary p-5">
  <div class="max-w-7xl flex items-center justify-between flex-col md:flex-row mx-auto">
    <div>
      <img class="w-10 h-10" src="assets/images/logo.png" alt="" />
    </div>
    <div class="flex items-center justify-between flex-col md:flex-row py-5 max-w-xs w-full">
      <div class="text-white">Информация</div>
      <div class="text-white">Каталог</div>
    </div>
    <div>
      <div class="">
        <span class="mdi mdi-facebook text-2xl text-white"></span>
        <span class="mdi mdi-instagram text-2xl text-white ml-2"></span>
      </div>
    </div>
  </div>
</div>
