<div class="flex items-center justify-end">
  <div class="flex">
    <div class="font-bold flex items-center">
      <span class="text-gray-500"> Сортировать по: </span>
      <span class="text-gray-800 ml-1">Самые популярные</span>
      <span class="mdi mdi-chevron-down text-2xl font-bold"></span>
    </div>
    <div class="ml-20 font-bold flex items-center">
      <span class="text-gray-500"> Стиль: </span>
      <span class="text-gray-800 ml-2">Классический</span>
      <span class="mdi mdi-chevron-down text-2xl font-bold"></span>
    </div>
  </div>
</div>
