<section class="users-wrapper">
  <btn primary class="mb-2" routerLink="create">Create</btn>
  <card class="card">
    <card-text>
      <table class="list">
        <thead>
          <tr class="headers">
            <th
              class="headers--item"
              *ngFor="let header of headers; trackBy: headersTrackBy"
            >
              {{ header.text }}
            </th>
            <th class="headers--item actions">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users; trackBy: userTrackBy"
            class="list--item"
          >
            <td *ngFor="let header of headers; trackBy: headersTrackBy">
              {{ user[header.value] }}
            </td>
            <td>
              <btn icon [routerLink]="['.', 'edit', user.id]">
                <span class="mdi mdi-pencil"></span>
              </btn>
              <btn icon (click)="showConfirm(user.id)">
                <span color="error" class="mdi mdi-delete"></span>
              </btn>
            </td>
          </tr>
        </tbody>
      </table>
    </card-text>
  </card>
</section>
