<section id="novelties" class="my-5 lg:my-20 mb-4 lg:mb-40">
  <div class="flex flex-col lg:flex-row">
    <div  class="flex h-full flex-col md:flex-row md:min-h-[30rem]">
      <div class="lg:max-w-xs max-h-full">
        <div class="font-bold text-lg mt-0 sm:pt-8 pb-8">
          <div class="border-l-4 border-primary pl-4 sm:py-4 px-4">
            Лучшие решения для вашего интерьера
          </div>
          </div>
        <div class="max-w-full h-full">
          <img class="w-full object-cover" src="assets/images/details_1.png" alt="">
        </div>
      </div>
      <div class="md:ml-4 h-full max-h-full max-w-full w-full mt-2 ">
        <img class="h-full max-h-full pb-4 object-cover" src="assets/images/details_2.png" alt="">
      </div>
    </div>
    <div class="max-w-md lg:ml-12 w-full">
      <div class="text-3xl font-bold">
        Красота в деталях
      </div>
      <div class="text-gray-600 text-lg mt-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at ducimus, eum facere fuga iusto laborum
        nemo nesciunt non nulla officia, omnis perferendis provident quo quos reprehenderit, saepe tenetur vel.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolorem earum est eveniet facere, id iste
        iure modi nam nemo nulla odio, quam quidem repellat repudiandae rerum, voluptate? Beatae, distinctio!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloribus facere totam! Aperiam asperiores,
        eaque id maiores, maxime minus molestiae necessitatibus officia provident quas quia quibusdam reiciendis repellendus, tempore ullam.
      </div>
    </div>
  </div>
</section>
