<div class="w-full h-20 bg-zinc-800">
  <div class="max-w-5xl w-full h-full mx-auto">
    <div class="flex justify-between items-center h-full">
      <div class="flex items-center">
        <div class="bg-secondary w-9 h-9 rounded-full flex items-center justify-center">
          <span class="mdi mdi-map-marker text-xl text-primary"></span>
        </div>
        <div class="text-white text-sm leading-5 ml-2">
          <div>г. Бельцы</div>
          <div>ул. Штефан чел Маре</div>
        </div>
      </div>

      <div class="flex items-center">
        <div class="bg-secondary w-9 h-9 rounded-full flex items-center justify-center">
          <span class="mdi mdi-clock text-xl text-primary"></span>
        </div>
        <div class="text-white text-sm ml-2 leading-5">
          <div>ПН-ПТ</div>
          <div>09:00-17:00</div>
        </div>
      </div>

      <div class="flex items-center">
        <div class="bg-secondary w-9 h-9 rounded-full flex items-center justify-center">
          <span class="mdi mdi-email text-xl text-primary"></span>
        </div>
        <div>
          <span class="text-white text-sm ml-2 leading-5">decorostar@gmail.com</span>
        </div>
      </div>

      <div class="flex items-center">
        <div class="bg-secondary w-9 h-9 rounded-full flex items-center justify-center">
          <span class="mdi mdi-phone text-xl text-primary"></span>
        </div>
        <div>
          <span class="text-white ml-2 text-sm leading-5">+373 676 555 65</span>
        </div>
      </div>
    </div>
  </div>
</div>
