<nav class="w-full bg-primary fixed z-20 p-4 h-[5rem] flex justify-center items-center">
  <div class="max-w-7xl w-full flex items-center justify-center md:justify-between">
    <div class="flex items-center">
      <img class="w-12 h-12 cursor-pointer" routerLink="/" src="assets/images/logo.png" alt="" />
      <ul class="flex hidden md:flex" >
        <li class="m-2 p-3 text-secondary font-bold cursor-pointer hover:text-gray-200"
            *ngFor="let item of links"
            [routerLink]="[item.path]"
        >
          {{ item.translateKey | translate }}
        </li>
      </ul>
    </div>
    <div class="cursor-pointer text-white flex items-center hidden md:flex">
      <span
        class="text-sm p-2 rounded-full"
        (click)="switchLanguage(language)"
        *ngFor="let language of languages"
        [ngClass]="languageClass(language)"
      >
        {{ language.toUpperCase() }}
      </span>
      <span class="mdi mdi-facebook text-2xl ml-2"></span>
      <span class="ml-2 mdi mdi-instagram text-2xl"></span>
    </div>
  </div>
</nav>
