<card>
  <card-title>Change password</card-title>
  <card-text>
    <form-input [control]="model.controls.old_password" inputType="password"></form-input>
    <form-input [control]="model.controls.new_password" inputType="password"></form-input>
    <form-input [control]="model.controls.password_confirmation" inputType="password"></form-input>
  </card-text>
  <card-actions>
    <btn link [routerLink]="routes.login"> to login</btn>
    <btn primary (click)="submit()">Change password</btn>
  </card-actions>
</card>
