.pa-0 {
  margin: 0;
}

.pa-1 {
  margin: 0.25rem;
}

.pa-2 {
  margin: 0.5rem;
}

.pa-3 {
  margin: 0.75rem;
}

.pa-4 {
  margin: 1rem;
}

.pa-5 {
  margin: 1.25rem;
}

.pa-6 {
  margin: 1.5rem;
}

.pa-7 {
  margin: 1.75rem;
}

.pa-8 {
  margin: 2rem;
}

.pa-9 {
  margin: 2.25rem;
}

.pa-10 {
  margin: 2.5rem;
}

.pa-11 {
  margin: 2.75rem;
}

.pa-12 {
  margin: 3rem;
}

.pa-12 {
  margin: 3.25rem;
}

.pa-12 {
  margin: 3.5rem;
}

.pa-13 {
  margin: 3.75rem;
}

.pa-14 {
  margin: 4rem;
}

.pa-15 {
  margin: 4.5rem;
}

//  margin left

.pl-0 {
  margin-left: 0;
}

.pl-1 {
  margin-left: 0.25rem;
}

.pl-2 {
  margin-left: 0.5rem;
}

.pl-3 {
  margin-left: 0.75rem;
}

.pl-4 {
  margin-left: 1rem;
}

.pl-5 {
  margin-left: 1.25rem;
}

.pl-6 {
  margin-left: 1.5rem;
}

.pl-7 {
  margin-left: 1.75rem;
}

.pl-8 {
  margin-left: 2rem;
}

.pl-9 {
  margin-left: 2.25rem;
}

.pl-10 {
  margin-left: 2.5rem;
}

.pl-11 {
  margin-left: 2.75rem;
}

.pl-12 {
  margin-left: 3rem;
}

.pl-12 {
  margin-left: 3.25rem;
}

.pl-12 {
  margin-left: 3.5rem;
}

.pl-13 {
  margin-left: 3.75rem;
}

.pl-14 {
  margin-left: 4rem;
}

.pl-15 {
  margin-left: 4.5rem;
}

//  margin right

.pr-0 {
  margin-right: 0;
}

.pr-1 {
  margin-right: 0.25rem;
}

.pr-2 {
  margin-right: 0.5rem;
}

.pr-3 {
  margin-right: 0.75rem;
}

.pr-4 {
  margin-right: 1rem;
}

.pr-5 {
  margin-right: 1.25rem;
}

.pr-6 {
  margin-right: 1.5rem;
}

.pr-7 {
  margin-right: 1.75rem;
}

.pr-8 {
  margin-right: 2rem;
}

.pr-9 {
  margin-right: 2.25rem;
}

.pr-10 {
  margin-right: 2.5rem;
}

.pr-11 {
  margin-right: 2.75rem;
}

.pr-12 {
  margin-right: 3rem;
}

.pr-12 {
  margin-right: 3.25rem;
}

.pr-12 {
  margin-right: 3.5rem;
}

.pr-13 {
  margin-right: 3.75rem;
}

.pr-14 {
  margin-right: 4rem;
}

.pr-15 {
  margin-right: 4.5rem;
}

//  margin top

.pt-0 {
  margin-top: 0;
}

.pt-1 {
  margin-top: 0.25rem;
}

.pt-2 {
  margin-top: 0.5rem;
}

.pt-3 {
  margin-top: 0.75rem;
}

.pt-4 {
  margin-top: 1rem;
}

.pt-5 {
  margin-top: 1.25rem;
}

.pt-6 {
  margin-top: 1.5rem;
}

.pt-7 {
  margin-top: 1.75rem;
}

.pt-8 {
  margin-top: 2rem;
}

.pt-9 {
  margin-top: 2.25rem;
}

.pt-10 {
  margin-top: 2.5rem;
}

.pt-11 {
  margin-top: 2.75rem;
}

.pt-12 {
  margin-top: 3rem;
}

.pt-12 {
  margin-top: 3.25rem;
}

.pt-12 {
  margin-top: 3.5rem;
}

.pt-13 {
  margin-top: 3.75rem;
}

.pt-14 {
  margin-top: 4rem;
}

.pt-15 {
  margin-top: 4.5rem;
}

//  margin bottom,

.pb-0 {
  margin-bottom: 0;
}

.pb-1 {
  margin-bottom: 0.25rem;
}

.pb-2 {
  margin-bottom: 0.5rem;
}

.pb-3 {
  margin-bottom: 0.75rem;
}

.pb-4 {
  margin-bottom: 1rem;
}

.pb-5 {
  margin-bottom: 1.25rem;
}

.pb-6 {
  margin-bottom: 1.5rem;
}

.pb-7 {
  margin-bottom: 1.75rem;
}

.pb-8 {
  margin-bottom: 2rem;
}

.pb-9 {
  margin-bottom: 2.25rem;
}

.pb-10 {
  margin-bottom: 2.5rem;
}

.pb-11 {
  margin-bottom: 2.75rem;
}

.pb-12 {
  margin-bottom: 3rem;
}

.pb-12 {
  margin-bottom: 3.25rem;
}

.pb-12 {
  margin-bottom: 3.5rem;
}

.pb-13 {
  margin-bottom: 3.75rem;
}

.pb-14 {
  margin-bottom: 4rem;
}

.pb-15 {
  margin-bottom: 4.5rem;
}

//  margin x,

.px-0 {
  margin-left: 0;
  margin-right: 0;
}

.px-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.px-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.px-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.px-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.px-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.px-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.px-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.px-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.px-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.px-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.px-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.px-12 {
  margin-left: 3.25rem;
  margin-right: 3.25rem;
}

.px-12 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.px-13 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.px-14 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.px-15 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

//  margin y
.py-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.py-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.py-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.py-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.py-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.py-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.py-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.py-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.py-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.py-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.py-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.py-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

.py-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.py-12 {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}

.py-12 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.py-13 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.py-14 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.py-15 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}
